{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro drawer(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set drawerStyles = "w-full h-dvh overflow-hidden pb-safe-area-bottom overscroll-contain" %} {# applied to the wrapper for the panel #}
{% set panelStyles = "@container content-center bg-surface border-t border-x border-neutral rounded-t-base p-2xs overscroll-contain" %}
{% set backdropStyles = "bg-black opacity-50 transition-opacity transition-discrete overscroll-contain" %}
{% set durationEnter = "duration-250" %}
{% set durationLeave = "duration-250" %}

{% if props.alignment === "top" %}

    {% set drawerAlignmentStyles = "flex-col top-navbar-height" %}
    {% set panelAlignmentStyles = "border-b" %}
    {% set transitionStyles = "-translate-y-full" %}

{% elseif props.alignment === "bottom" %}

    {% set drawerAlignmentStyles = "flex-col bottom-0 justify-end" %}
    {% set panelAlignmentStyles = "border-t pb-base-y" %}
    {% set transitionStyles = "translate-y-full" %}

{% elseif props.alignment === "right" %}

    {% set drawerAlignmentStyles = "flex top-navbar-height justify-end" %}
    {% set panelAlignmentStyles = "grow border-l max-w-[80%]" %}
    {% set transitionStyles = "translate-x-full" %}

{% elseif props.alignment === "left" %}

    {% set drawerAlignmentStyles = "flex top-navbar-height justify-start" %}
    {% set panelAlignmentStyles = "grow border-r max-w-[80%]" %}
    {% set transitionStyles = "-translate-x-full" %}

{% endif %}

{# Other ------------------ #}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-drawer
    x-data="{
        drawerOpen: false,
        toggleDrawer() {
            if (this.drawerOpen) {
                return this.close(this.$refs.trigger)
            }
            this.drawerOpen = true;
            $nextTick(() => {this.$refs.panel.focus()})
            scrollable = false;
        },
        close(focusAfter) {
            if (! this.drawerOpen) return
            this.drawerOpen = false
            scrollable = !scrollable;
            focusAfter && focusAfter.focus()
        },
    }"
    x-on:resize.window.debounce="close()"
    x-on:keydown.escape.prevent.stop="close($refs.trigger)"
    x-on:focusin.window="! $refs.drawer.contains($event.target) && close()"
    class="flex {{ attrs.class }}">

    {# Trigger Button #}
    {{ button(props.triggerProps | assign({toggleValue: "drawerOpen"}), {class:"grow", "@click": "toggleDrawer()", "x-ref":"trigger"}) }}

    <template x-teleport="body">

        <div {# wrapper for panel, teleported to the body #}
            x-cloak
            x-ref="drawer"
            :class="{'invisible': !drawerOpen}"
            class="flex z-(--z-top) grow fixed overflow-y-auto transition-discrete transition-all {{ drawerStyles }} {{ drawerAlignmentStyles }}">

            {# Panel – thing that transitions #}
            <div
            tabindex="-1"
                x-ref="panel"
                x-show="drawerOpen"
                x-transition:enter="{{ durationEnter }}"
                x-transition:enter-start="{{ transitionStyles }}"
                x-transition:leave="{{ durationLeave }}"
                x-transition:leave-end="{{ transitionStyles }}"
                @click="if($event.target !== $refs.panel && $event.target.tagName.toLowerCase() === 'a') { close($refs.button) }"
                @click.outside="close()"
                class="transition {{ panelStyles }} {{ panelAlignmentStyles }}"
            >
                {% if caller %}
                    {{ caller() | safe }}
                {% endif %}
            </div>

            {# Backdrop – overlay #}
            <div
                x-show="drawerOpen"
                x-transition:enter="{{ durationEnter }}"
                x-transition:enter-start="opacity-0!"
                x-transition:leave="{{ durationLeave }}"
                x-transition:leave-end="opacity-0!"
                class="absolute inset-0 z-(--z-lowered) {{ backdropStyles }}">
            </div>
        </div>

    </template>
</div>

{% endmacro %}
