{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/markdown.njk" import markdown %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro teb(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set tebStyles = "" %}

{# Theme styles ----------- #}

{% set tebSizes = {
    xl: {
        title: "text-heading-xl",
        elaboration: "text-body-lg",
        button: "lg",
        gap: "gap-base-y"
    },
    lg: {
        title: "text-heading-lg",
        elaboration: "text-body-lg",
        button: "lg",
        gap: "gap-sm"
    },
    base: {
        title: "text-heading-base",
        elaboration: "text-body-base",
        button: "base",
        gap: "gap-sm"
    },
    sm: {
        title: "text-heading-sm",
        elaboration: "text-body-base",
        button: "sm",
        gap: "gap-xs"
    }
}
%}

{# Other ------------------ #}

{% set titleTag %}{% if props.titleTag %}{{ props.titleTag }}{% else %}h2{% endif %}{% endset %}
{% set textAlignment %}{% if props.textAlignment %}{{ props.textAlignment }}{% else %}left{% endif %}{% endset %}
{% if textAlignment === "left" %}
    {% set itemsAlignment = "start" %}
{% elseif textAlignment === "right" %}
    {% set itemsAlignment = "end" %}
{% else %}
    {% set itemsAlignment = "center" %}
{% endif %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}
<div data-teb
    {{ loopAttrs(attrs) }}
    class="flex flex-col {{ attrs.class }} {{ tebStyles }} text-{{ textAlignment }} items-{{ itemsAlignment }} {{ tebSizes[props.size].gap }}">
    <{{ titleTag }} class="text-pretty {{ titleStyles }} {{ tebSizes[props.size].title }}">{{ props.title }}</{{ titleTag }}>
    {% if props.elaboration %}
        {{ markdown(
            props={
                content: props.elaboration,
                transform: true,
                overrides: {
                    fontSize: tebSizes[props.size].elaboration
                }
            },
            attrs={class:"w-full max-w-content"}
        ) }}
    {% endif %}
    {% if props.button %}
        {{ button(props.button.props | assign({size: textLockupSizes[props.size].button }), props.button.attrs) }}
    {% endif %}
    {% if caller %}
        {{ caller() | safe }}
    {% endif %}
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set tebMeta = {
    args: '{% call teb(
    props={
        size: "xl | lg | base | sm",
        textAlignment: "left | center | right",
        title: "",
        titleTag: "h2",
        elaboration: "",
        button: {
            props: {},
            attrs: {}
        }
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}
