---
permalink: /index.html
---

{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/container.njk" import container %}
{% from "components/button.njk" import button %}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.homePage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set showNavbar = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}

{% call section() %}
    {% call container({size:"content", type: "cols-1", alignment: "center"}) %}
    {% endcall %}
{% endcall %}

{% endblock %}
